<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         name="metadata"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.bupt.MetaData.launch.Application">
         </run>
      </application>
   </extension>
    <extension
         point="org.eclipse.ui.views">
      <category
            id="MetaData.category1"
            name="MetaData">
      </category>
      <view
            category="MetaData.category1"
            class="com.bupt.MetaData.view.MongoList"
            id="com.bupt.MetaData.view.MongoList"
            name="localMongo"
            restorable="true">
      </view>
      <view
            category="MetaData.category1"
            class="com.bupt.MetaData.view.AmoebaConfig"
            id="com.bupt.MetaData.view.AmoebaConfig"
            name="amoebaconfig"
            restorable="true">
      </view>
      <view
            category="MetaData.category1"
            class="com.bupt.MetaData.view.AmoebaStatus"
            id="com.bupt.MetaData.view.AmoebaStatus"
            name="amoebastatus"
            restorable="true">
      </view>
      <view
            category="MetaData.category1"
            class="com.bupt.MetaData.view.DataCenter"
            id="com.bupt.MetaData.view.DataCenter"
            name="datacenter"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
 	<perspective
            class="com.bupt.MetaData.model.AmoebaStatusPerspective"
            id="com.bupt.MetaData.model.AmoebaStatusPerspective"
            name="正在amoeba状态">
    </perspective>
    <perspective
            class="com.bupt.MetaData.model.AmoebaConfigPerspective"
            id="com.bupt.MetaData.model.AmoebaConfigPerspective"
            name="amoeba文件配置">
    </perspective>
   <perspective
            class="com.bupt.MetaData.model.DataCenterPerspective"
            id="com.bupt.MetaData.model.DataCenterPerspective"
            name="数据中心磁盘使用情况">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.bupt.MetaData.launch.Perspective"
            id="com.bupt.MetaData.launch.Perspective"
            name="本地mongo配置">
      </perspective>
   </extension> 
    <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.bupt.MetaData.application"
            name="元数据服务器">
      </product>
   </extension>
</plugin>
